#lumos-injected-modal {
  --main-color: #01123d;
  --font1-color: #383838;
  --font2-color: #919191;
  --bg-color: #ffffff;

  /* 폰트 설정을 모달 내부로만 한정 */
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
  line-height: 1.5;
}

/* 모든 요소(*) 대신 모달 내부의 요소만 초기화 */
#lumos-injected-modal * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

/* 표시(하이라이트) OFF 상태일 때 */
body.lumos-display-off .lumos-ai-highlight {
    display: none !important;
}
/* 삭제 OFF 상태일 때 (숨겨진 요소 다시 보이기) */
body.lumos-remove-off .lumos-hidden-element {
    visibility: visible !important;
}
/* 삭제 ON 상태일 때 기본 숨김 */
.lumos-hidden-element {
    visibility: hidden !important;
}