.web-header {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
}

.text-logo {
    width: 155px;
    height: 89px;
}