.policy-page {
    width: 100vw;
    height: 980px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;
}

.policy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.policy-title {
    font-size: 48px;
}

.policy-content-container {
    width: 717px;
    height: 729px;
    padding: 18px 50px 36px 56px;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid var(--main-color);
    
    overflow-y: auto; 
}

/* 1. 스크롤바 전체 너비를 설정 (여유 있게 잡아야 간격이 보입니다) */
.policy-content-container::-webkit-scrollbar {
    width: 25px; 
}

.policy-content-container::-webkit-scrollbar-thumb {
    background-color: white;
    background-clip: padding-box; 
    
    border: 8px solid transparent; 
    
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px var(--font2-color); 
}

.policy-content-container::-webkit-scrollbar-track {
    background: transparent; 
}