/* 모달 배경 (어둡게) */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* 배경 어둡기 조절 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* 모달 박스 */
.modal-container {
    width: 766px;
    height: 721px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 20px;
}

.modal-logo {
    width: 102px;
    height: 106px;

    box-shadow: 14px 9px 12.7px 0px rgba(58, 171, 251, 0.25);
}

.modal-content-box {
    width: 701px;
    height: 278px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    background-color: aqua;
}

.modal-title {

}

.modal-content-container {
    width: 701px;
    height: 213px;


}

.modal-radio {

}

/* 모달 숨기기용 클래스 */
.hidden {
    display: none !important;
}