/* 모달 배경 (어둡게) */
.modal-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background: rgba(0, 0, 0, 0.7) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 2147483647 !important; 
}

/* 모달 박스 */
.modal-container {
    width: 766px;
    height: 721px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white !important;
    z-index: 2147483648 !important;
    border-radius: 20px;
}

.modal-logo {
    width: 102px;
    height: 106px;

    box-shadow: 14px 9px 12.7px 0px rgba(58, 171, 251, 0.25);
}

.modal-content-box {
    width: 701px;
    height: 278px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;

    margin-left: 11px;
    margin-right: auto;

    color: var(--font1-color);
}

.modal-content-container {
    width: 701px;
    height: 213px;
    padding: 18px 36px;

    border-radius: 10px;
    border: 2px solid var(--main-color);
    color: var(--font1-color);
    font-size: 12px;

    overflow-y: auto; 
}

/* 스크롤 */
.modal-content-container::-webkit-scrollbar {
    width: 25px; 
}

.modal-content-container::-webkit-scrollbar-thumb {
    background-color: white;
    background-clip: padding-box; 
    
    border: 8px solid transparent; 
    
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px var(--font2-color); 
}

.modal-content-container::-webkit-scrollbar-track {
    background: transparent; 
}

/* 체크박스 */
.modal-checkbox input {
    display: none;
}

.modal-checkbox {
    width: 113px;
    height: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.checkbox-mark {
    width: 16px;
    height: 16px;

    position: relative;
    display: inline-block;

    border: 2px solid var(--main-color);
    border-radius: 4px;
}

.checkbox-mark::after {
    content: "";
    position: absolute;
    
    width: 8px;
    height: 8px;

    display: none;
    top: 50%;
    left: 50%;

    background-color: var(--main-color);
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.modal-checkbox input:checked + .checkbox-mark::after {
    display: block; 
}

.modal-checkbox input:checked + .checkbox-mark {
    border-color: var(--main-color);
}

.checkbox-text {
    font-size: 20px;
    color: var(--font1-color);
}

/* 모달 숨기기용 클래스 */
.hidden {
    display: none !important;
}